####### clinical_NLP_SE-requirements.txt #######
#
###### Requirements without Version Specifiers ######

## NLP
scispacy
spacy-transformers
pandas

## Building app

click
Sphinx
coverage
awscli
flake8

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

spacy>=3.0.6
python-dotenv>=0.5.1

#
###### Refer to other requirements files ######
# -r other-requirements.txt
#
#
###### A particular file ######
# local package
-e . # Install a project in editable mode (i.e. >setuptools “develop mode”) from a >local project path or a VCS url.


